


h1{
    text-align: center;
}
#navigation-bar ul{
    list-style-type:none ;
    background-color: rgb(120, 120, 234);
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: space-evenly;
}
#navigation-bar a{
    color: rgb(74, 43, 231);
    text-decoration: none;
    padding: 15%;
    display: block;
    text-align: center;

}
#navigation-bar a:hover{
    background-color: rgb(152, 141, 141);
}
#navigation-bar li{
    float:center;
}
#profile-photo{
    display: block;
    margin: auto;
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: blue;
    padding: 1%;
}
#profile-photo .profile-img{
    height: 100%;
    margin: auto;
    display: flex;
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    border: 3px white;
    border-radius: 50%;
}

body{
    font-family: sans-serif;
    background-color: rgb(168, 226, 226);
    text-align: center;

}
#navigation-bar{
    background-color: rgb(147, 147, 243);
    padding: 1%;
    margin: 0;
}
#personal-links{
    text-align: center;
    display: flex;
}
body{
    text-align: center;
}